{% extends "home.html" %}
{% block content %}

    <style>
        h3{
            color: chocolate;
            text-align: center;
            margin-top: 20px;
        }
        .input{
            text-align: center;

        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutus</title>
</head>
<body>
    <div class="input">
        
    <h3>This site is used to perform different operations on strings in python.The operations include: concatenate the string , reverse,compare,
        convert to uppercase ,lowercase etc.The project is made by Jobanpreet Singh and Jashneet Kaur students of M.Tech(AI). 
        <br><br>
    </h3>
    <a href="https://github.com/jobanpreet495/string-operations-in-python">Click Here to see code</a>
    
    </div>

{% endblock%}
