{% extends "home.html" %}
{% block content %}

  <style>
    h4{
        text-align: center;
        color: chocolate;
    }
    .input{
        text-align: center;
        margin-top: 30px;
    }
  </style>
</head>
  <body>
    <h1>LENGTH OPERATION ON STRING</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <form action="/length" method="post">
    <div class="input">
        <input type="text" name="str1" placeholder="Enter a string"><br><br>
        <input type="submit" value="Submit"><br><br>
        <h4>Length of the string: {{length1}}</h4><br>
        <h4>Number of alphabets in a string: {{length2}}</h4><br>
        <h4>Number of numeric values in a string: {{length4}}</h4><br>
        <h4>Number of words in a string: {{length3}}</h4>
    </div>
  </form> 
{%endblock%}